.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-intro {
  font: 16pt Verdana, serif;
  font-weight: bold;
}

.arb-list-urgent {
  list-style: none;
}

.arb-list {
  font: 16pt;
  list-style: none;
}

body {
  font: 100% Verdana, serif;
/*  color:  #fff;
  background: #444; */
  color: black;
  background: lightgrey;
}

a {
  background-color: grey;
  color: whitesmoke;
  text-decoration: none;
  padding: 1em 1.5em;
  border: 1px solid;
}

.grid-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, 300px);
  padding: 10px;
  text-align: left;
}

.grid-inner-header {
  grid-area: header;
  padding: 0px;
  color: whitesmoke;
  font: 160% Verdana, serif;
  background-color: steelblue;
  color: lightgoldenrodyellow;
}

.grid-inner-container {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 150px 50px;
  padding: 5px;
  background-color: steelblue;
  font: 105% Verdana, serif;
}


.grid-inner-container-urgent {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 150px 50px;
  padding: 5px;
  background-color:lightgreen;
  font: 105% Verdana, serif;
}

.grid-item-inner-urgent-large {
  background-color:lightgreen;
  padding: 2px;
  font: 140% Verdana, serif;
}

.grid-item-urgent {
  background-color: rgb(147, 59, 173);
  border: 1px solid;
  padding: 3px;
  color: white;
  text-align: left;
}

.grid-item-loss {
  background-color: grey;
  border: 1px solid;
  padding: 2px;
}

.grid-item-inner {
  background-color: steelblue;
  padding: 2px;
}

